<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/payment" method="post">
        <div>
            <label for="amount">Price:</label>
            <input type="number" name="amount" id="amount" min="1" value="1" step=".01">
        </div>
        
        <div>
            <label for="currency">Choose a currency:</label>
            <select name="currency" id="currency">
            <option value="978">EUR</option>
            <option value="840">USD</option>
            <option value="643">RUB</option>
            </select>
        </div>

        <div>
            <label for="description">Write down description:</label>
            <textarea name="description" id="description" cols="30" rows="10"></textarea>
        </div>

        <button type="submit">Submit</button>
    </form>
</body>
</html>